body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

#gameContainer>div{
  float: left;
}

#main canvas {
  border: solid .2em #fff;
}

#other canvas {
  border: solid .2em #aaa;
}


#lobby ul{
  list-style: none;
}

#instructions{
  font-size: 0.4em;
}